<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container">
      <h1>Sign Up Page</h1>
      <form action="/" method="post">
        <div>
          <label for="">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            placeholder=""
          />
        </div>
        <div>
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder=""
          />
        </div>
        <div>
          <label for="">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            placeholder=""
          />
        </div>
        <div class="pt-4">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
